@model OrderPosition

<div class="row justify-content-center align-items-center" >
    <div class="col-2">
        <img src="@Url.Action("GetImageFile", new { productID = this.Model.Product.ID})" style="width: 100px; height:100px;">
        <p>@Model.Product.Name</p>
    </div>
    <div class="col-2">
        <p>@Model.Quantity</p>
    </div>
    <div class="col-2">
        <p>@Model.Product.Price.ToString("c")</p>
    </div>
    <div class="col-2">
        <p>@Model.Sum</p>
    </div>
    <div class="col-2">
        <form asp-action="RemoveFromCart" method="post">
            <input type="hidden" name="ID" value="@Model.Product.ID"/>
            <button type="submit" class="btn btn-light" data-toggle="button" aria-pressed="true"
                    autocomplete="off">
                Usuń
            </button>
        </form>
    </div>
</div>